@import 'colors';

#neon-grid {
  position: fixed;

  top: 0;
  left: -100%;
  right: -100%;
  bottom: 0;

  background: url(/assets/bg.svg);
  background-size: 10vmin;

  transform-origin: bottom;
  transform: perspective(70px) rotateX(5deg);
  
  animation: grid-forward 8s infinite step-end;
}

@keyframes grid-forward {
  00.0% { background-position: 0px 0px; }
  12.5% { background-position: 0px 1vw; }
  25.0% { background-position: 0px 2vw; }
  37.5% { background-position: 0px 3vw; }
  50.0% { background-position: 0px 4vw; }
  62.5% { background-position: 0px 5vw; }
  75.0% { background-position: 0px 6vw; }
  87.5% { background-position: 0px 7vw; }
  0100% { background-position: 0px 8vw; }
}

#neon-horizon {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 40%;

  background: linear-gradient(black 90%, transparent)
}

$star-extend-width: 4px;
$star-extend-length: 30px;
$star-center-width: 14px;

.blinking-star {
  position: absolute;

  width: $star-extend-width;
  height: $star-extend-length;

  background: linear-gradient(blue, white, blue);
  transform: scale(0.5);

  &:before {
    content: '';
    position: absolute;

    top: ($star-extend-length - $star-extend-width) / 2;
    left: -(($star-extend-length - $star-extend-width) / 2);
    width: $star-extend-length;
    height: $star-extend-width;

    background: linear-gradient(90deg, blue, white, blue);
  }

  &:after {
    content: '';
    position: absolute;

    top: $star-extend-length / 2 - $star-center-width / 2;
    left: $star-extend-width / 2 - $star-center-width / 2;
    width: $star-center-width;
    height: $star-center-width;

    background: radial-gradient(white, transparent);
    transform: rotate(45deg);

    animation: blink-star 10s infinite linear;
  }
}

@keyframes blink-star {
  96%  { transform: rotate(45deg) scale(1.0); background: radial-gradient(white, transparent); }
  98%  { transform: rotate(45deg) scale(1.3); background: white; }
  100% { transform: rotate(45deg) scale(1.0); background: radial-gradient(white, transparent); }
}

/* SUPER UGLY, but not enough time for something better */
.star-anim1:after { animation: none; }
.star-anim2:after { animation-delay: 2s; }
.star-anim3:after { animation: none; }
.star-anim4:after { animation-delay: 2.9s; }
.star-anim5:after { animation: none; }
.star-anim6:after { animation-delay: 3.8s; }
.star-anim7:after { animation: none; }
.star-anim8:after { animation-delay: 4.7s; }
.star-anim9:after { animation: none; }
.star-anim10:after { animation-delay: 5.6s; }
.star-anim11:after { animation: none; }
.star-anim12:after { animation-delay: 6.5s; }
.star-anim13:after { animation: none; }
.star-anim14:after { animation-delay: 5.4s; }
.star-anim15:after { animation: none; }
.star-anim16:after { animation-delay: 6.3s; }
.star-anim17:after { animation: none; }
.star-anim18:after { animation-delay: 7.2s; }
.star-anim19:after { animation: none; }
.star-anim20:after { animation-delay: 8.1s; }
.star-anim21:after { animation: none; }
.star-anim22:after { animation-delay: 9.0s; }
.star-anim23:after { animation: none; }
.star-anim24:after { animation-delay: 10.1; }
.star-anim25:after { animation: none; }
