@import 'colors';

.content {
  max-width: 58em;
  margin: 0 auto;
}

h1 {
  font-family: 'BeautySchoolDropoutII';
  font-weight: normal;
  font-size: 5em;

  text-align: center;
}

h2 {
  margin-bottom: 0;

  font-family: 'Warnes';
  font-weight: normal;
  font-size: 1.5em;
}

h1, h2 {
  color: $neon-green-core;
  text-shadow:
    0 3px 5px $neon-green,
    0 0 .5em $neon-green,
    0 0 1em $neon-green;
}

.broken-neon {
  animation: neon-flicker .1s infinite linear;
}

@keyframes neon-flicker {
  0%    { opacity: 0.6; }
  100%  { opacity: 1.0; }
}

a {
  color: $neon-blue-core;
  text-shadow: 0 0 5px $neon-blue, 0 0 1em $neon-blue;
  transition: color .1s ease, text-shadow .1s ease;

  &:hover {
    cursor: url(/assets/AmigaHandPointer.gif), pointer;
    text-shadow:
      0 1px 5px $neon-green,
      0 0 .5em $neon-green,
      0 0 1em $neon-green;
  }
}

.neon-box {
  padding: .5em 1.5em;
  margin-bottom: 3em;
  border-radius: 1.5em;

  color: #cfc;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid;
  box-shadow: 0 0 15px $neon-green, inset 0 0 15px $neon-green;
}

#home-content {
  font-family: 'Neon 80s';
  font-size: 1.6em;
  letter-spacing: .05em;
  text-shadow: 0 0 1em;
}

#post-list {
  padding: 0;
}

.post-date {
  margin: 1em 1.2em;
  font-family: 'Neon 80s';
  font-style: italic;
  font-size: 1.3em;
}

.post-link {
  margin-top: 0;
  margin-left: -2px;
  margin-right: 0;
  margin-bottom: 1em;

  padding-top: .1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;

  border-radius: 0 0 0 1em;
  border-bottom: 2px solid;
  border-left: 2px solid;

  font-size: 2em;
  box-shadow: 0 2px 2px $neon-green;

  &> a {
    text-decoration: none;
  }
}

.post-box {
  font-size: 1.3em;
  line-height: 1.6em;
  background: linear-gradient(transparent 10em, #000 15em);

  & h2 {
    margin-top: 1.5em;
    color: $neon-red-core;
    text-shadow: 0 0 5px $neon-red, 0 0 1em $neon-red;
  }
}

.home-link {
  margin-top: 0.4em;
  display: block;
}

pre {
  overflow: auto;
  padding: 1em 1.3em;

  border-radius: 1em;
  border: 1px solid $neon-yellow-core;
  box-shadow: 0 0 8px $neon-yellow, inset 0 0 8px $neon-yellow;
  color: $neon-yellow-core;

  & .c1 {
    opacity: .4;
  }
}

code.highlighter-rouge {
  color: $neon-yellow-core;
  text-shadow: 0 1px 2px $neon-yellow;
}
