@import 'fonts';
@import 'colors';
@import 'scrollbar';
@import 'background';
@import 'content';

body {
  font-family: 'Open Sans', sans-serif;
  background: black;
  color: white;
  cursor: url(/assets/AmigaPointer.gif), auto;
}
