---
layout: page
---

<div id="digital-clock">
  <span id="time"><span id="hours">88</span><span id="time-colon">:</span><span id="minutes">88</span><span id="say-time">SAY</span></span>
</div>
<script type="text/javascript" src="/speak/Speak.js"></script>
<script type="text/javascript" src="/speak/sam.js"></script>
<script type="text/javascript">
  setInterval(function() {
    var d = new Date();
    var hh = ('00' + d.getHours().toString()).slice(-2);
    var mm = ('00' + d.getMinutes().toString()).slice(-2);
    document.getElementById('hours').innerText = hh;
    document.getElementById('minutes').innerText = mm;
  }, 500);

  var n0to19 = 'zero,one,two,three,four,five,six,seven,eight,nine,ten,eleven,twelve,thirteen,fourteen,fifteen,sixteen,seventeen,eighteen,nineteen'.split(',');
  var n00to90 = ',ten,twenty,thirty,forty,fifty,sixty,seventy,eighty,ninety'.split(',');

  function convertNumberToWord(n) {
    if (n >= 0) {
      if (n < 20) {
        return n0to19[n];
      } else if (n < 100) {
        var n1 = Math.floor(n / 10);
        var n2 = n % 10;
        return n00to90[n1] + (n2 == 0 ? '' : n0to19[n2]); 
      }
    }
    return '';
  }

  document.getElementById('say-time').addEventListener('click', function(e) {
    e.preventDefault();
    var d = new Date();
    Speak("The current time is "
      + convertNumberToWord(d.getHours()) + " hours and "
      + convertNumberToWord(d.getMinutes()) + " minutes");
  });
</script>

<div id="home-content" class="neon-box">
  {{ content }}
</div>

<div id="post-list" class="neon-box">
  {% for post in site.posts %}
    {% if post.list != false %}
      <p class="post-date">{{ post.date | date: "%b %-d, %Y" }}</p>
      <h2 class="post-link">
        <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    {% endif %}
  {% endfor %}
</div>

{% comment %}
<script type="text/javascript">
  // Play intro sound (only when the visitor arrived from another page).
  var str = '<audio autoplay><source src="assets/intro-ubuntu.mp3" type="audio/mpeg"></audio>';
  if (document.referrer.indexOf(location.host) == -1) {
    document.write(str);
  }
</script>
{% endcomment %}
