<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
<!-- <div id="neon-grid"></div> -->
<div id="neon-horizon">
  <script type="text/javascript">
    // Put some random stars here.
    var n = 10 + Math.round(Math.random() * 30);
    var pad = [.05, .05, .05, .4];
    for (var i = 0; i < n; i++) {
      var randx = Math.random();
      var randy = Math.random();

      // Higher probability towards edges.
      randx = Math.atan(8 * (randx - .5)) / 2.7 + .5;

      // Star coordinates in percentages.
      var x = (pad[0] + randx * (1 - pad[0] - pad[2])) * 100;
      var y = (pad[1] + randy * (1 - pad[1] - pad[3])) * 100;
      
      // Star scale.
      var s = .2 + Math.random() * .4;
      s = s / (window.devicePixelRatio || 1);

      // Write to document.
      var str = '<div class="blinking-star _0" style="left: _1%; top: _2%; transform: scale(_3);"></div>';
      str = str.replace('_0', 'star-anim' + i);
      str = str.replace('_1', '' + x);
      str = str.replace('_2', '' + y);
      str = str.replace('_3', '' + s);
      document.write(str);
    }

    // Draw home planet.
    if (window.location.pathname.length < 3) { // usually '' or '/'
      // Open container.
      var size = .9, resolution = 18;
      var str = '<div style="position: absolute; width: _0em; height: _1em; \
top: _2em; left: _3em; font-size: _4rem; line-height: 0;">';
      str = str.replace('_0', '' + resolution);
      str = str.replace('_1', '' + resolution);
      str = str.replace('_2', '' + (3 + Math.random() * 5));
      str = str.replace('_3', '' + (3 + Math.random() * 7));
      str = str.replace('_4', '' + size);
      document.write(str);

      // Determine random planet color.
      var r = 200 + Math.random() * 50; // Bias red planets
      var g = 100 + Math.random() * 150; // Bias blue planets a bit
      var b = 5 + Math.random() * 250;

      // Average out.
      var intensity = (r + g + b) / 3;
      var mult = 200 / intensity;
      r *= mult;
      g *= mult;
      b *= mult;

      var athmosphere = Math.random() > 0.8;
      
      // Shade pixels.
      for (var x = 0; x < resolution; x++) {
        for (var y = 0; y < resolution; y++) {
          var str = '<span style="background: rgba(_0, _1, _2, _3); width: 1em; height: 1em; display: inline-block;"></span>';
          
          // Translate to (x; y) coord in [-1, 1] range.
          var xx = (x / resolution) * 2 - 1;
          var yy = (y / resolution) * 2 - 1;
          var radius = Math.sqrt(xx * xx + yy * yy);

          // Darken to the left-bottom.
          var invy = resolution - y;
          var lbdist = Math.sqrt(x * x + invy * invy) / (resolution * Math.sqrt(2));

          var value = .4 + .4 * Math.random();
          if (athmosphere && radius > 0.8) {
            value = 1, value + (1 - value);
          }
          value = Math.min(1, value * (1 - 1.5 * lbdist));
  
          str = str.replace('_0', '' + Math.round(value * r));
          str = str.replace('_1', '' + Math.round(value * g));
          str = str.replace('_2', '' + Math.round(value * b));

          var alpha = Math.min(radius > 0.9 ? 1 - radius : 1, 1);
          str = str.replace('_3', '' + alpha);

          document.write(str);
        }
      }
      
      // Close container.
      document.write('</div>');
    }
  </script>
</div>
<div class="content">
<h1><noscript>{{ page.title }}</noscript><script type="text/javascript">
    var title = '{{ page.title | escape }}';
    var parts = title.split(' ');
    var brokeOnce = false; // Make sure at most one word is broken.
    for (var i = 0; i < parts.length; i++) {
      if (i > 0) {
        document.write(' ');
      }
      // Do not break on index.
      if (brokeOnce || location.pathname == '/' || Math.random() < .8) {
        document.write(parts[i]);
      } else {
        brokeOnce = true;
        var str = '<span class="broken-neon">_0</span>';
        str = str.replace('_0', parts[i]);
        document.write(str);
      }
    }
  </script></h1>
  {{ content }}
</div>
</body>
</html>
